include mixins
doctype
html
	head
		title Command Center 5.0
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/bootstrap-4.4.1/js/bootstrap.min.js' )
		script(type="text/javascript" src="/moment/moment.js")
		script(type="text/javascript" src="/footable/js/footable.min.js")
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/dropdowns.css')
		link(rel='stylesheet', href='/perfect-scrollbar/css/perfect-scrollbar.css')
		link(href="/bootstrap-4.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/footable/css/footable.bootstrap.css')
		link(rel='stylesheet', href='/convoyer/styles/styles.css')

		block content   

			include navbar
					
			h3 Create Invite List
			br
			
			div
				table.table(data-filtering='true')
					thead
						tr
							th(data-breakpoints='xs') ID
							th First Name
							th Last Name
							th(data-breakpoints='xs') Job Title
							th(data-breakpoints='xs sm') Started On
							th(data-breakpoints='xs sm md') Date of Birth
							th(data-type='html', data-breakpoints='xs sm md') Info
					tbody
						tr
							td 1
							td Dennise
							td Fuhrman
							td High School History Teacher
							td November 8th 2011
							td July 25th 1960
							td
								a(href='#placeholder') Info link
						tr
							td 2
							td Elodia
							td Weisz
							td Wallpaperer Helper
							td October 15th 2010
							td March 30th 1982
							td
								a(href='#placeholder') Info link
						tr
							td 3
							td Raeann
							td Haner
							td Internal Medicine Nurse Practitioner
							td November 28th 2013
							td February 26th 1966
							td
								a(href='#placeholder') Info link
						tr
							td 4
							td Junie
							td Landa
							td Offbearer
							td October 31st 2010
							td March 29th 1966
							td
								a(href='#placeholder') Info link
						tr
							td 5
							td Solomon
							td Bittinger
							td Roller Skater
							td December 29th 2011
							td September 22nd 1964
							td
								a(href='#placeholder') Info link
						tr
							td 6
							td Bar
							td Lewis
							td Clown
							td November 12th 2012
							td August 4th 1991
							td
								a(href='#placeholder') Info link
						tr
							td 7
							td Usha
							td Leak
							td Ships Electronic Warfare Officer
							td August 14th 2012
							td November 20th 1979
							td
								a(href='#placeholder') Info link
						tr
							td 8
							td Lorriane
							td Cooke
							td Technical Services Librarian
							td September 21st 2010
							td April 7th 1969
							td
								a(href='#placeholder') Info link

				script(src='/javascripts/createInviteList.js')
				script.
					jQuery(function($){
						$('.table').footable();
					});			
					var results = !{ JSON.stringify(results) };
					loadScripts();
								