include mixins
doctype
html
	head
		title Command Center 5.0
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/bootstrap/js/bootstrap-4.1.1.min.js' )
		script(type="text/javascript" src="/moment/moment.js")
		script(type="text/javascript" src="/footable/js/footable.min.js")
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/dropdowns.css')
		link(rel='stylesheet', href='/perfect-scrollbar/css/perfect-scrollbar.css')
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/footable/css/footable.bootstrap.css')
		link(rel='stylesheet', href='/convoyer/styles/styles.css')


			include navbar
					
			h3 Create Invite List
			br

			div
				<table class="table" data-filtering="true">
					<thead>
					<tr>
						<th data-breakpoints="xs">ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th data-breakpoints="xs">Job Title</th>
						<th data-breakpoints="xs sm">Started On</th>
						<th data-breakpoints="xs sm md">Date of Birth</th>
						<th data-type="html" data-breakpoints="xs sm md">Info</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td>Dennise</td>
						<td>Fuhrman</td>
						<td>High School History Teacher</td>
						<td>November 8th 2011</td>
						<td>July 25th 1960</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>Elodia</td>
						<td>Weisz</td>
						<td>Wallpaperer Helper</td>
						<td>October 15th 2010</td>
						<td>March 30th 1982</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Raeann</td>
						<td>Haner</td>
						<td>Internal Medicine Nurse Practitioner</td>
						<td>November 28th 2013</td>
						<td>February 26th 1966</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					<tr>
						<td>4</td>
						<td>Junie</td>
						<td>Landa</td>
						<td>Offbearer</td>
						<td>October 31st 2010</td>
						<td>March 29th 1966</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					<tr>
						<td>5</td>
						<td>Solomon</td>
						<td>Bittinger</td>
						<td>Roller Skater</td>
						<td>December 29th 2011</td>
						<td>September 22nd 1964</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					<tr>
						<td>6</td>
						<td>Bar</td>
						<td>Lewis</td>
						<td>Clown</td>
						<td>November 12th 2012</td>
						<td>August 4th 1991</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					<tr>
						<td>7</td>
						<td>Usha</td>
						<td>Leak</td>
						<td>Ships Electronic Warfare Officer</td>
						<td>August 14th 2012</td>
						<td>November 20th 1979</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					<tr>
						<td>8</td>
						<td>Lorriane</td>
						<td>Cooke</td>
						<td>Technical Services Librarian</td>
						<td>September 21st 2010</td>
						<td>April 7th 1969</td>
						<td><a href="#placeholder">Info link</a></td>
					</tr>
					</tbody>
				</table>			


				script(src='/javascripts/createInviteList.js')
				script.
					jQuery(function($){
						$('.table').footable();
					});			
					var results = !{ JSON.stringify(results) };
					loadScripts();
								