include mixins
extends layout
block content   
												include navbar
												head
												.row
														.col-md-12.col-sm-12.col-xs-12			  
																object#map(data='/map.html', width='100%', height='500', type='text/html')
																				


