include mixins
extends layout
block content   
            include navbar

            head
                style.
                  #map {
                  height: 600px;
                  width: 100%;
                  }
            .row
              .col-md-3.col-sm-3.col-xs-12
                    .panel.panel-danger
                      .panel-heading
                        h3.panel-title Incidents
                      .panel-body
                        |               
                      div
                          table#pickle.table.table-hover.table-striped.table-bordered
                              thead
                                  tr.danger
                                      th Guard ID
                                      th First Name
                                      th Last Name
                              tbody
                              -each guard in rows
                                  tr.danger
                                      td=guard.GuardID
                                      td=guard.FirstName
                                      td=guard.LastName
              .col-md-9.col-sm-9.col-xs-12              
                  #map

                  script.
                    // This example displays a marker at the center of Australia.
                    // When the user clicks the marker, an info window opens.
                    function initMap() {
                    var data = !{JSON.stringify(rows)};
                    var ara = {lat: 34.0257385, lng: -118.3754848};
                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 18,
                    center: ara,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                    });

                    console.log(data);   
                    for (i = 0 ; i < data.length ; i++){
                      var lat = data[i].lat;
                      var lng = data[i].lng;
                        var marker = new google.maps.Marker({
                        position: {lat: lat, lng: lng},
                        map: map
                    });
                    }

                    }
                  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCuuEBG2qsNl6WRWo9093Abz4MEvv3QayU&callback=initMap')
