doctype html
html(lang='en')
	head
	.row
			.col-md-1.col-sm-1.col-xs-12
					#backButton
									a.btn.btn-default.btn-block
										i.fa.fa-eraser(aria-hidden='true')
										| &nbsp Back To Map																				   
			.col-md-11.col-sm-11.col-xs-12			  
					img#incidentPhoto(src="",  width = "500px", height = "500px")
					script(src='/javascripts/guardpatrol/renderIncidentDetails.js')
					script.
							var incident = !{ JSON.stringify(getIncidentResult) };
							renderIncidentDetails();
									



								


