doctype html
html(lang='en')
	head
		link(href="/convoyer/styles/styles.css", rel="stylesheet")
		meta(charset='UTF-8')
		title Incident Preview
		style.
			html {
				background-color: #000
			}
	body
			a(id = 'imageAnchor' href='' target="_parent")		
				img#incidentPhoto(src="", width = "100px", height = "100px", display = 'none')
			a(id = 'videoAnchor' href='' target="_parent")		
				video#incidentVideo(src="", width = "100px", height = "100px", display = "none", autoplay = "", loop = "true" )
			script(src='/convoyer/incident/incidentPreviewScript.js')
			script.
					var incident = !{ JSON.stringify(getIncidentResult) };
					incidentPreviewScript();
									



								


