doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Incident Details
		style.
			html {
			background-color: #000 !important;
			}, body {
			}
	link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
	.row

	.row																			   
		.col-md-2.col-sm-2.col-xs-2.col-md-offset-5.col-sm-offset-5.col-xs-offset-5
			a(id = 'imageAnchor' href='' target="_parent")		
				img#incidentPhoto(src="", width = "25%", height = "25%", display = 'none')
			a(id = 'videoAnchor' href='' target="_parent")		
				video#incidentVideo(src="", width = "25%", height = "25%", display = "none", autoplay = "", loop = "true" )
			script(src='/javascripts/convoyer/renderIncidentPreview.js')
			script.
					var incident = !{ JSON.stringify(getIncidentResult) };
					renderIncidentPreview();
									



								


