doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Incident Details
		style.
			html, body {
			height: 90%;
			width: 90%
			margin: 0;
			padding: 0;
			}
	link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
	link(href="/stylesheets/chatstyle.css", rel="stylesheet")
	link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
	.row
		.col-md-2.col-sm-2.col-xs-12
			#backButton
					a.btn.btn-default.btn-block
						i.fa.fa-arrow-left(aria-hidden='true')
						| &nbsp Back To Map																				   
		.col-md-10.col-sm-10.col-xs-12
			img#incidentPhoto(src="",  width = "90%", height = "90%")
			script(src='/javascripts/guardpatrol/renderIncidentDetails.js')
			script.
					var incident = !{ JSON.stringify(getIncidentResult) };
					renderIncidentDetails();
									



								


