doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Incident Details
		style.
			html {
			width: 100%;	
			}, body {
			}
	link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
	link(href="/stylesheets/chatstyle.css", rel="stylesheet")
	link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
	.row																			   
		.col-md-12.col-sm-12.col-xs-12
			a(id = 'imageAnchor' href='' target="_parent")		
				img#incidentPhoto(src="",  width = "50", height = "100", align = "center")
			a(id = 'videoAnchor' href='' target="_parent")		
				video#incidentVideo(src="",  width = "50", height = "100", align = "center" display = "none" autoplay = "" controls = "" loop = "true" )
			script(src='/javascripts/guardpatrol/renderIncidentPreview.js')
			script.
					var incident = !{ JSON.stringify(getIncidentResult) };
					renderIncidentPreview();
									



								


