doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Incident Details
		style.
			html {
			width: 100%;	
			}, body {
			}
	.row																			   
		.col-md-4.col-sm-4.col-xs-4.col-md-offset-4.col-sm-offset-4.col-xs-offset-4
			a(id = 'imageAnchor' href='' target="_parent")		
				img#incidentPhoto(src="", width = "100%", height = "100%", align = "center", display = 'none')
			a(id = 'videoAnchor' href='' target="_parent")		
				video#incidentVideo(src="", width = "100%", height = "100%", align = "center", display = "none", autoplay = "", loop = "true" )
			script(src='/javascripts/convoyer/renderIncidentPreview.js')
			script.
					var incident = !{ JSON.stringify(getIncidentResult) };
					renderIncidentPreview();
									



								


