doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Incident Details
		style.
			html, body {
			}
	link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
	link(href="/stylesheets/chatstyle.css", rel="stylesheet")
	link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
	.row
		.col-md-12.col-sm-12.col-xs-12
			#backButton
					a.btn.btn-default.btn-block
						i.fa.fa-hand-o-left(aria-hidden='true')
						| &nbsp Go Back
	.row						
		.col-md-12.col-sm-12.col-xs-12
			-each incident in getIncidentResult
				table#pickle.table.table-hover.table-striped.table-bordered
								thead
								tbody
								-each incident in getAllIncidentsResult
														tr.default
																td=incident.Type 
														tr.default
																td=incident.Description
	.row
		.col-md-4.col-sm-4.col-xs-12
			img#incidentPhoto(src="",  width = "80%", height = "80%", display = 'none')
			video#incidentVideo(src="",  width = "80%", height = "80%", display = "none" autoplay = "" loop = "true" )
			script(src='/javascripts/convoyer/renderIncidentDetails.js')
			script.
					var incident = !{ JSON.stringify(getIncidentResult) };
					renderIncidentDetails();
									



								


