include mixins
doctype
html
	head
		title Command Center 5.0
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/popper.js' )
		script( src='/bootstrap/js/bootstrap.min.js' )
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		script( src='/javascripts/bootbox.min.js' )

	body(style="padding-bottom:10rem;")
		.container
			block content
				include navbar
				br
				div
				.row
					.jumbotron
						.row
							.col-md-9
								h4(id='header') Guided List Creator
								p(id='comment') You can follow this wizard to quickly create an invite list.
								form
									fieldset
										.form-group.row
										.form-group
											select#groupDropdown.form-control(style = 'display: none')
												option(id = 'dropdown 0' selected='' value='') Choose...
												option(id = 'dropdown 1' value='Department') a Department
												option(id = 'dropdown 2' value='Division') a Division
												option(id = 'dropdown 3' value='Site Location') a Site Location
												option(id = 'dropdown 4' value='Building') a Building
												option(id = 'dropdown 5' value='Custom Group') a Custom Group
											select#selectionDropdown.form-control(style = 'display: none')
												option(id = 'dropdown 0' selected='' value='') Choose...												
											.col-md-6
												button.btn.btn-default.btn-block.btn-outline-secondary(id = 'backButton' type='button' style = 'display: none') Back
											.col-md-6
												button.btn.btn-default.btn-block.btn-outline-secondary(id = 'button' type='button') Next
				script(src='/create-invite-lists/InviteListCreatorScript.js')
				script.
					loadScripts()