include mixins
doctype
html
	head
		title Command Center 5.0
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/popper.js' )
		script( src='/bootstrap/js/bootstrap.min.js' )
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		script( src='/javascripts/bootbox.min.js' )

	body(style="padding-bottom:10rem;")
		.container   
			block content

				include navbar
						
				h3 Create Invite List
				br
				
				div
				.row
					.col-md-6.col-sm-6.col-xs-6
						#newButton
								a.btn.btn-default.btn-block
									i.fa.fa-plus(aria-hidden='true')
									| &nbsp Create New
					.col-md-6.col-sm-6.col-xs-6
						#templateButton
								a.btn.btn-default.btn-block
									i.fa.fa-bookmark(aria-hidden='true')
									| &nbsp Create From Template
				div
				.row
					.col-md-10.col-sm-12.col-xs-12.col-md-offset-1				
						table#addTable.table.table-hover.table-striped.table-bordered(data-unique-id="ID" data-toggle="table" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" display = 'none')
							thead
								tr.warning
									th#headerCheckBoxAdded(data-field="state" data-checkbox="true" data-sortable= "true")
									th(data-field="LastName" data-sortable= "true" ) Last Name
									th(data-field="FirstName" data-sortable= "true") First Name
									th(data-field="Cardnumber" data-sortable= "true") Cardnumber
									th(data-field="ID" data-sortable= "true") Employee Id
									th(data-field="Email" data-sortable= "true") Email
									th(data-field="Title" data-sortable= "true") Title
				br
				br								
				div
				.row
					.col-md-10.col-sm-12.col-xs-12.col-md-offset-1		
						table#removeTable.table.table-hover.table-striped.table-bordered(data-unique-id="ID" data-toggle="table" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" display = 'none')
							thead
								tr.warning
									th#headerCheckBoxAdded(data-field="state" data-checkbox="true" data-sortable= "true")
									th(data-field="LastName" data-sortable= "true" ) Last Name
									th(data-field="FirstName" data-sortable= "true") First Name
									th(data-field="Cardnumber" data-sortable= "true") Cardnumber
									th(data-field="ID" data-sortable= "true") Employee Id
									th(data-field="Email" data-sortable= "true") Email
									th(data-field="Title" data-sortable= "true") Title
							tbody
				br
				div
				.row
					.col-md-4.col-sm-12.col-xs-12.col-md-offset-4
						#createButton
								a.btn.btn-default.btn-block(display = 'none')
									i.fa.fa-check(aria-hidden='true' display = 'none')
									| &nbsp Create									
				script(src='/create-invite-lists/InviteListCreatorScript.js')
				script.
					loadScripts();						