include mixins
doctype
html
	head
		title Command Center 5.0
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/popper.js' )
		script( src='/bootstrap/js/bootstrap.min.js' )
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		script( src='/javascripts/bootbox.min.js' )

	body(style="padding-bottom:10rem;")
		.container   
			block content

				include navbar
						
				br
				
				div
				.row
					.jumbotron
						div(id='jumbotronContent')
							h4 Guided List Creator
							p You can follow this wizard to quickly create an invite list
						input(id='input' style = "display: none")
						a.btn.btn-primary.btn-lg(id = "button") Begin
				script(src='/create-invite-lists/InviteListCreatorScript.js')
				script.
					loadScripts()		