include mixins
doctype
html
	head
		title Command Center 5.0
		script( src='/javascripts/jquery-3.1.1.min.js' )				
		script( src='/popper.js' )
		script( src='/bootstrap/js/bootstrap.min.js' )
		script( src='/bootstrap-table/bootstrap-table.min.js' )
		link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="/bootstrap-table/bootstrap-table.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
		script( src='/javascripts/bootbox.min.js' )

	body(style="padding-bottom:10rem;")
		.container   
			block content

				include navbar
						
				br
				
				div
				.row
					.jumbotron
						.row
							.col-md-9
								h4(id='header') Guided List Creator
								p(id='comment') You can follow this wizard to quickly create an invite list	
								.input-group.mb-3
									.input-group-prepend
										label.input-group-text(for='inputGroupSelect01') Options
									select#inputGroupSelect01.custom-select
										option(selected='') Choose...
										option(value='1') One
										option(value='2') Two
										option(value='3') Three
								.input-group.mb-3
									select#inputGroupSelect02.custom-select
										option(selected='') Choose...
										option(value='1') One
										option(value='2') Two
										option(value='3') Three
									.input-group-append
										label.input-group-text(for='inputGroupSelect02') Options
								.input-group.mb-3
									.input-group-prepend
										button.btn.btn-outline-secondary(type='button') Button
									select#inputGroupSelect03.custom-select
										option(selected='') Choose...
										option(value='1') One
										option(value='2') Two
										option(value='3') Three
								.input-group
									select#inputGroupSelect04.custom-select
										option(selected='') Choose...
										option(value='1') One
										option(value='2') Two
										option(value='3') Three
									.input-group-append
										button.btn.btn-outline-secondary(type='button') Button

										
				script(src='/create-invite-lists/InviteListCreatorScript.js')
				script.
					loadScripts()		