include mixins
extends layout
block content   
												include navbar
												head																											
														.col-md-9.col-sm-9.col-xs-12			  
																object#map(data='http://ec2-34-210-155-178.us-west-2.compute.amazonaws.com:3000/patrolreplaymap/#{results[0].PatrolID}', width='100%', height='500', type='text/html')															
																script.
																		var mapElement = document.getElementById('map');
																		var results = !{ JSON.stringify(getPatrolReplayResult) };
																		console.log('logging patrol replay results:');
																		console.log(results);
 
																				


