doctype html
html(lang='en')
	head
		link(href="/snazzy-info-window-master/dist/snazzy-info-window.min.css", rel="stylesheet")
		link(href="/javascripts/convoyer/patrol-replay/styles.css", rel="stylesheet")
		meta(charset='UTF-8')
		title Patrol Replay
		style.
			#map {
		height: 400px,
		width: 1000px
			}
	body
		#map
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCuuEBG2qsNl6WRWo9093Abz4MEvv3QayU')
		script(src='/snazzy-info-window-master/dist/snazzy-info-window.min.js')
		script(src='/javascripts/convoyer/patrol-replay/patrolReplayMapScript.js')
		script(src='/javascripts/convoyer/locationIsAccurate.js')
		script.
				var mapElement = document.getElementById('map');
				var results = !{ JSON.stringify(getPatrolReplayMapResult) };
				var incidents = !{ JSON.stringify(getIncidentsResult) };
				initMap();
																				


