include mixins
extends layout
block content   
	include navbar
	head
		.row
			.col-md-12.col-sm-12.col-xs-12
					object#map(data='http://ec2-34-210-155-178.us-west-2.compute.amazonaws.com:3000/patrolreplaymap/#{getPatrolReplayResult[0].PatrolID}', width='100%', height='600', type='text/html')															
					script.
							var mapElement = document.getElementById('map');
							var results = !{ JSON.stringify(getPatrolReplayResult)};
							var incidents =!{ JSON.stringify(getIncidentsResult)};
							console.log('logging patrol replay results:');
							console.log(results);