/* Fix user-agent */

* {
  }
  
  html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  html, input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  /* Pages */
  
  
  /* Login Page */
  
  .login.page {
    background-color: #000;
  }
  
  .login.page .form {
  
    text-align: left;
  }
  
  .login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
  }
  
  .login.page .title {
  }
  
  .login.page .usernameInput {
    letter-spacing: 3px;
  }
  
  .login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
  }
  
  /* Chat page */
  
  .chat.page {
    display: none;
  }
  
  /* Font */
  
  .messages {
    margin: 0;
    padding: 10px 20px 10px 20px;
  }
  
  .inputMessage {
  }
  
  .log {
    color: rgba(40, 157, 224, 0.938);
    text-align: left;
    margin: 5px;
  }
  
  /* Messages */
  
  .chatArea {
  }
  
  .messages {
    margin: 0;
  }
  
  .message.typing .messageBody {
    color: rgb(64, 205, 248);
  }
  
  .username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: left;
  }
  
  /* Input */
  
  .inputMessage {
    border: 2px solid #000;
    bottom: 0;
    height: 30px;
    left: 0;
    outline: none;
    right: 0;
  }
  