/*
B.E.M Naming convention:

(Block) .custom-dropdown
The main component

(Element) .custom-dropdown__select
Descendant of .custom-dropdown

(Modifier) .custom-dropdown--*
Different state of .custom-dropdown
*/

.custom-dropdown--large {
    font-size: 1.5em;
  }
  
  .custom-dropdown--small {
    font-size: .7em;
  }
  
  .custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
  }
  
  .custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
  }	
			

    h2+p {
      color: green; /* Demo only */
    }
    
    .custom-dropdown {
      display: block;
    }
    
    .custom-dropdown__select {
      padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */				
      border: 0;
      border-radius: 3px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;    
    }
    
    .custom-dropdown::before,
    .custom-dropdown::after {
      content: "";
      pointer-events: none;
    }

    
    .custom-dropdown::before { /*  Custom dropdown arrow cover */
      width: 2em;

      border-radius: 0 3px 3px 0;
    }
    

    
    /* White dropdown style */
    .custom-dropdown--white::before {
      background-color: #fff;
      border-left: 1px solid rgba(0,0,0,.1);
    }
    
    .custom-dropdown--white::after {
      color: rgba(0,0,0,.9);
    }					
